---
import { Logs, SquareTerminal } from "@lucide/astro";

const navItems = [{ path: "/about", label: "about" }];
---

<nav>
  <div class="nav nav--always-visible">
    <SquareTerminal color="#ff6b35" stroke-width={3} />
    <a href="/" class="nav__username">~/joseprogramando</a>
    <Logs />
  </div>

  <script></script>

  <style>
    nav {
      height: 4rem;
    }
    .nav {
      background-color: var(--background-dark);
      position: fixed;
      top: 0; /* Fijo arriba */
      left: 0; /* Desde el borde izquierdo */
      right: 0; /* Hasta el borde derecho */
      width: 100%; /* Ocupa todo el ancho */
      height: 4rem;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid #333333;
      z-index: 999;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      align-items: center;
    }

    .nav__container {
      width: 16px;
      height: 16px;
    }

    .nav__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .nav__username {
      color: inherit;
      text-decoration: none;
      font-weight: bold;
      display: flex;
      align-items: center;
    }

    .nav__username:hover {
      opacity: 0.8;
    }
  </style>
</nav>
